asgiref==3.7.2
black==24.10.0
branca==0.8.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
coverage==7.3.2
django==3.2.23
djangorestframework==3.14.0
folium==0.19.2
geographiclib==2.0
geopy==2.4.1
googlemaps==4.10.0
idna==3.10
iniconfig==2.0.0
jinja2==3.1.4
markupsafe==3.0.2
multidict==6.1.0
mypy-extensions==1.0.0
numpy==2.2.0
openrouteservice==2.3.3
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
propcache==0.2.1
psycopg2-binary==2.9.10
pytest==7.4.3
pytest-django==4.5.2
pytest-mock==3.11.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
pyyaml==6.0.2
requests==2.31.0
six==1.17.0
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2024.2
urllib3==2.2.3
vcrpy==4.3.1
wrapt==1.17.0
xyzservices==2024.9.0
yarl==1.18.3
